body { 
    background-image: url(https://images.unsplash.com/photo-1569087682520-45253cc2e0ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
};
.m-0 {
    color: aqua;
}

